body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.content {
  padding: 20px;
}

h1 {
  text-align: center;
}

button {
  padding: 5px 10px;
}

#image-container {
  max-width: 500px;
  margin: 0 auto;
}

img {
  width: 100%;
  object-fit: cover;
  max-width: 500px;
}
